body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}
.navbar{  /*barra de tarefa*/
	background-color: #10263F ;
	z-index: 9;
	width: 100%;
}
.top{  /*html*/
	background-image: url("../img/legal.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-top: 300px;
	padding-bottom: 300px;

}
.noticias{	/*html*/
	padding-top: 55px;
	padding-bottom: 55px;
}
.noticias h1 {  /*html*/
	color: #10263F;
	padding-bottom: 30px;
}
.naosei{  /*html*/
	background-image: url("../img/mercob.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-top: 300px;
	padding-bottom: 300px;

}
.textos{	/*html*/
	padding-top: 55px;
	padding-bottom: 55px;
}
.textos article {	/*html*/
	margin-bottom: 50px;
}
.textos h1 a {	/*html*/
	text-decoration: none;
	color: #10263F;
}
.textos p a {	/*html*/
	text-decoration: none;
	color: #000000;
}
.zom{  /*img-html*/
	overflow: hidden;
}
.zom img{	/*img-html*/
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s
}
.zom:hover img{	/*img-html*/
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.linha{ /*artigo html*/
	border-top: 1px solid #10263F;
}
.date{	/*artigo html*/
	color: #6E9AB1;
}
.row h6{ 	/*artigo html*/
	font-size: 15px;
	margin-left: 40px;
}
.ref{  /*artigo html-footer*/
	color: black;
	font-weight: 600;
}
.recuo1{
	margin-left: 15px;
}
.recuo2{
	margin-left: 30px;
}
.titulo2{
	margin-top: 40px;
	margin-bottom: 40px;
}
#tab{
  width: 200px;
}
#tabela{
	width: 100%;
	font-size: 15px;
}
.table{
	border-color: black;
	width: 900px;
}
